<div class="center">
  <mat-form-field appearance="fill">
    <mat-label>Pick one</mat-label>
    <mat-select id="pick-one"
      [formControl]="control"
      required
      #itemSelect
      (selectionChange)="selectedItem(itemSelect.triggerValue)">
      <mat-option>--</mat-option>
      <mat-option value="one">Álvaro</mat-option>
      <mat-option value="two">Jozenita</mat-option>
      <mat-option value="three">Júlia</mat-option>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')">Please choose an anim... Ops... a person</mat-error>
  </mat-form-field>

  <div *ngIf="person">
    <mat-form-field appearance="fill">
      <mat-label>ToDo</mat-label>
      <input
      #itemInput
      matInput
      placeholder="Insira uma tarefa"
      value=""
      (keyup.enter)="addItem(itemInput)">
    </mat-form-field>
  </div>


  <div @todosAnimation *ngIf="person && (items$ | async); else loadingTmpl">
    <section
      @slide
      @fade
      *ngFor="let item of items" class="row">
      <div class="todo-item-row">
        <mat-list>
          <div class="todo-flex-container">
            <div class="todo-item-container">
              <mat-list-item
                (click)="handleItem(item.todo)"
                [class.strikethrough]="item.isCompleted"
                >{{ item.todo }}
              </mat-list-item>
            </div>
            <div class="todo-item-container">
              <button mat-mini-fab
                color="primary"
                (click)="removeItem(item.todo)">
                <mat-icon>check</mat-icon>
              </button>
            </div>
          </div>
        </mat-list>
      </div>
    </section>
  </div>
  <ng-template #loadingTmpl>
    <mat-progress-spinner *ngIf="person" mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</div>
